$paleta: (
    'bg': #FBF0F0,
    'bgFooter': #2C2121,
    'blanco': #FBF0F0,
    'negro': #131111,
    'rojoLogo': #E32226,
    'rojo': #cf292c,
    'rojoHover': #eb1317,
    'acento': #E4B717,
    'gris':#BEB4B4,
    'form':#CDCDCD,
    'txtForm':#3E3E3E,
    'transparente':#ffffff00
);

// colores:

body {
    background-color: map-get($map: $paleta, $key: bg);
}

h5 {
    color: map-get($map: $paleta, $key: acento);
}

.coloracento {
    color: map-get($map: $paleta, $key: acento);
}


.navbar {
    color: map-get($map: $paleta, $key: negro);
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
    color: map-get($map: $paleta, $key: negro);
    border-bottom-color: map-get($map: $paleta, $key: acento);
}

.nav-link {
    color: map-get($map: $paleta, $key: negro);
}

.navbar .navegadores .nav-link {
    color: map-get($map: $paleta, $key: negro);
}

.navbar .navegadores .nav-link:hover {
    color: map-get($map: $paleta, $key: negro);
}

.navbar-toggler {
    border: map-get($map: $paleta, $key: transparente);
}

a.btn-primary,
button.btn-primary,
input.btn-primary {
    color: map-get($map: $paleta, $key: blanco) !important;
    background-color: map-get($map: $paleta, $key: rojo) !important;
    border-color: map-get($map: $paleta, $key: rojo) !important;
}

a.btn-primary:hover,
button.btn-primary:hover,
input.btn-primary:hover {
    background-color: map-get($map: $paleta, $key: rojoHover) !important;
    border-color: map-get($map: $paleta, $key: rojoHover) !important;
}

a.btn-primary:active,
button.btn-primary:active,
input.btn-primary:active {
    background-color: map-get($map: $paleta, $key: rojoHover) !important;
    border-color: map-get($map: $paleta, $key: rojoHover) !important;
}

.linea {
    border-color: map-get($map: $paleta, $key: negro);
    background-color: map-get($map: $paleta, $key: negro);
}

.estilos {
    background-color: map-get($map: $paleta, $key: gris);
}

.card {
    background-color: map-get($map: $paleta, $key: transparente);
    color: map-get($map: $paleta, $key: blanco);
}

.apuradanza {
    color: map-get($map: $paleta, $key: rojo);
}

.rellenando {
    background-color: map-get($map: $paleta, $key: form);
    color: map-get($map: $paleta, $key: txtForm);
}

.resultado {
    color: map-get($map: $paleta, $key: rojo);
}

.form-select {
    background-color: map-get($map: $paleta, $key: form);
    color: map-get($map: $paleta, $key: txtForm);
}

footer {
    background-color: map-get($map: $paleta, $key: bgFooter);
    color: map-get($map: $paleta, $key: blanco);
}

.menu {
    li a {
        color: map-get($map: $paleta, $key: blanco);
    }
}

#Gracias {
    a {
        color: map-get($map: $paleta, $key: blanco);
    }
}