@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
  background-color: #FBF0F0;
}

h5 {
  color: #E4B717;
}

.coloracento {
  color: #E4B717;
}

.navbar {
  color: #131111;
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  color: #131111;
  border-bottom-color: #E4B717;
}

.nav-link {
  color: #131111;
}

.navbar .navegadores .nav-link {
  color: #131111;
}

.navbar .navegadores .nav-link:hover {
  color: #131111;
}

.navbar-toggler {
  border: rgba(255, 255, 255, 0);
}

a.btn-primary,
button.btn-primary,
input.btn-primary {
  color: #FBF0F0 !important;
  background-color: #cf292c !important;
  border-color: #cf292c !important;
}

a.btn-primary:hover,
button.btn-primary:hover,
input.btn-primary:hover {
  background-color: #eb1317 !important;
  border-color: #eb1317 !important;
}

a.btn-primary:active,
button.btn-primary:active,
input.btn-primary:active {
  background-color: #eb1317 !important;
  border-color: #eb1317 !important;
}

.linea {
  border-color: #131111;
  background-color: #131111;
}

.estilos {
  background-color: #BEB4B4;
}

.card {
  background-color: rgba(255, 255, 255, 0);
  color: #FBF0F0;
}

.apuradanza {
  color: #cf292c;
}

.rellenando {
  background-color: #CDCDCD;
  color: #3E3E3E;
}

.resultado {
  color: #cf292c;
}

.form-select {
  background-color: #CDCDCD;
  color: #3E3E3E;
}

.card {
  --bs-card-border-color: map-get($map: $paleta, $key: transparente) ;
}

footer {
  background-color: #2C2121;
  color: #FBF0F0;
}

.menu li a {
  color: #FBF0F0;
}

#form b {
  color: #E4B717;
}

#Gracias a {
  color: #FBF0F0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h6 {
    font-size: clamp(0.875rem, 0.75rem + 0.25vw, 0.875rem);
  }
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: clamp(3.5rem, 2rem + 5vw, 5rem);
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: clamp(2.5rem, 1.5rem + 4vw, 3.75rem);
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.h2-small {
  font-size: clamp(2.6875rem, 2.3125rem + 2vw, 2.6875rem);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: clamp(1.3125rem, 1rem + 1.5vw, 1.6875rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

h5 {
  font-size: clamp(1.5625rem, 1.25rem + 1.25vw, 1.5625rem);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

h6 {
  font-size: clamp(1.4375rem, 1rem + 1.25vw, 1.4375rem);
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}

.small {
  font-size: clamp(1.125rem, 0.75rem + 0.75vw, 1.125rem);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.smaller {
  font-size: clamp(0.8125rem, 0.75rem + 0.25vw, 0.8125rem);
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.fs-4 {
  font-size: clamp(1.5rem, 1rem + 2vw, 2rem);
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  font-weight: 600;
  font-size: clamp(1.5625rem, 1.25rem + 1.25vw, 1.5625rem);
  font-family: "Poppins", sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

@media (max-width: 992px) {
  nav .navbar-collapse {
    background-color: white;
    /* Fondo blanco para el menú desplegable */
    width: 100%;
  }
  nav .navbar-nav {
    width: 100%;
    height: 200px;
    /* Altura añadida de nuevo */
    text-align: center;
  }
  nav .navbar-nav .nav-item {
    display: block;
    /* Asegúrate de que los elementos sean bloques */
    width: 100%;
  }
  nav .navbar-nav .nav-link {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    color: black;
    /* Color predeterminado del enlace */
  }
  nav .navbar-nav .nav-link:hover {
    color: black;
    /* Color del enlace en estado hover */
  }
  nav .carousel-item .carousel-caption {
    align-items: start;
  }
}
nav .carousel-caption {
  align-items: center;
}
nav .navbar {
  padding: 5px 2%;
}
nav .navbar .brand {
  margin-right: auto;
}
nav .navbar .nav {
  margin-left: auto;
}
nav .navegadores {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav .navegadores .nav-item {
  display: inline-block;
  /* Estilo general para dispositivos grandes */
  margin-left: 20px;
}
nav .navegadores .nav-link {
  text-decoration: none;
  padding: 0;
}
nav .logo {
  height: 50px;
}

#Inicio .btn-primary {
  border-radius: 0;
  padding: 5px 40px;
}

#Equipo .linea {
  height: 2px;
  opacity: 1;
}
#Equipo .row {
  border-radius: 0;
  --bs-gutter-x: 0;
}

#Estilos .linea {
  height: 2px;
  opacity: 1;
}
#Estilos .row {
  border-radius: 0;
  --bs-gutter-x: 0;
}
#Estilos .custom-card {
  border: none !important;
}
#Estilos .card-img {
  width: 100%;
  height: auto;
  border-radius: 0 !important;
}
#Estilos .card-img-overlay {
  border-radius: 0 !important;
}

#Cronograma {
  text-align: center;
}
#Cronograma .carousel-caption {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
#Cronograma .progress-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
#Cronograma .progress-bar {
  width: calc(33.333% - 10px);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
#Cronograma .progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  animation: none;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 5px;
}
#Cronograma .progress-bar.active::before {
  animation: progress 3s linear forwards;
}
@keyframes progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

#form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 40%;
}
@media (max-width: 576px) {
  #form .form {
    max-width: 85%;
    padding: 0 10px;
  }
}
#form .form .rellenando {
  padding: 20px;
  border: 12px;
  width: 100%;
}
#form .form .btn-primary {
  border-radius: 0;
  padding: 5px 40px;
}
#form .form .form-select {
  padding: 20px;
  margin-left: 3%;
  border: 12px;
  width: 94%;
}
#form .form .fondo {
  width: 100%;
  height: auto;
  margin: 0;
}
#form .form .card {
  border: none;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#exampleModal .form-select {
  border-radius: 0px;
}
#exampleModal .form {
  align-content: end;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#exampleModal .rellenando {
  padding: 20px;
  border: 12px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#exampleModal .form-select {
  display: flex;
  padding: 20px;
  margin-left: 3%;
  border: 12px;
  width: 94%;
}
#exampleModal .btn-primary {
  border-radius: 0;
  padding: 5px 40px;
}

#Gracias {
  border-radius: 0 !important;
  border: none;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
}
#Gracias .custom-card {
  border: none;
}
#Gracias .card-img {
  width: 100%;
  height: auto;
  border-radius: 0 !important;
}
#Gracias .card-img-overlay {
  border-radius: 0 !important;
}
#Gracias .fondo {
  width: 100%;
  height: auto;
  margin: 0;
}
#Gracias .btn-primary {
  border-radius: 0;
  padding: 5px 40px;
}

footer {
  width: auto;
  padding: 20px 0;
}
footer .content {
  padding: 20px;
}
footer .menu {
  list-style: none;
}
footer .menu li a {
  display: inline-block;
  padding-inline: 20px;
  text-align: center;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */