@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    background-color: #FBF0F0;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins';
}

h1 {
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Poppins';
}

h2{
    font-size: 60px;
    font-weight: bolder;
    font-family: 'Poppins';
}

h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Poppins';
}

h4 {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Poppins';
}

h5 {
    color: #E4B717;
    font-weight: lighter;
    font-family: 'Poppins';
}

h6 {
    font-size: 25px;
    font-weight: 1;
    font-family: 'Poppins';
}

.small {
    font-size: 15px;
    font-family: 'Poppins';
}

.smaller {
    font-size: 18px;
    font-family: 'Poppins';
}

.fs-4 {
    font-size: 30px; 
}

.logo {
    height: 50px;
}

.navbar {
    font-family:'Poppins'; 
    color: #2C2121;
    padding: 5px 2%;
    height: 90px;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .navegadores {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .navegadores .nav-item {
    display: inline-block;
    margin-left: 20px;
}

.navbar .navegadores .nav-link {
    font-size: 20px;
    color: #2C2121;
    text-decoration: none;
    padding: 0;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight:normal;
    color: #2C2121;
    border-bottom-color: #E4B717;
}

.btn-primary {
    font-size: 25px;
    font-weight: bolder;
    border-radius: 0;
    background-color: #cf292c;
    border-color: #cf292c;
    padding: 5px 40px;
}

.btn-primary:hover {
    background-color: #eb1317;
    border-color: #eb1317;
}

.linea {
    border-color: #000;
    background-color: #000;
    height: 2px;
    opacity: 1;
}

.row {
    border-radius: 0;
    --bs-gutter-x: 0;
}

.card-img{
    border-radius: 0;
}

.card {
    border-radius: 0;
}

.estilos {
    background-color: #625b5b4a;
}

.carousel-caption {
    height: 100%;
}

footer {
    width: auto;
    background-color: #2C2121;
    color: #FBF0F0;
    padding: 20px 0;
}

.footer-content {
    padding: 20px; 
}

.menu li {
    list-style: none;
    display: inline-block;
    padding-inline: 20px;
    text-align: center;
}


